body {
  font-family: "roboto", sans-serif;
  background: url('clar.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
header {
  position: relative;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.75;
  z-index: 1;
}

audio {
  outline: none;
}
.card {
  background-color: #000;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none;
}

  @media (min-width: 768px) {  
    .paragraph {
      font-size: 25px;
      margin-bottom: 50px;
      line-height: 2;
    }
    #spacer {
      margin-top: 200px;
      margin-bottom: 200px;
    }
  }